#root {
  margin: 0;
  width: 100%;
  text-align: center;
}
main{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
@page {
  size: A4;
  margin: 0;
}
@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .CV {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}