.CV{
    margin: 1.5625rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.76);
    color: black
  }
.CV .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0e374d;
    color: white;
}
.top .Name{
    font-size: 2.5em;
    margin: 0;
    padding-top: 1.6rem;
    padding-bottom: 0   ;
}
.CV .contact{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-bottom: .9375rem;
}
.CV .contact div{
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 0.3rem;
}
.CV .contact div img{
    width: 23px;
}
.Education, .Experience{
    display: flex;
    flex-direction: column;
    padding: 1.5625rem; 
}
.Education{
    gap: 4rem;
}
.Experience{
    gap: 2rem;
}

.Education h4, .Experience h4{
    margin: 0 1.6rem 0 1.6rem;
    padding: .6rem;
    font-size: 2rem;
    background-color: rgb(177, 177, 177);
}

.Education .schoolContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin: 1rem 1.6rem 0 1.6rem; 
}

.schoolContent .l{
    margin-left: 25px;
}
.schoolContent div p, .schoolContent div h5{
    margin: 5px;
}
.color{
    position: absolute;
    height: 100px;
    width: 10px;
    background-color: #0e374d;
}
.Education .schoolContent .Degree{
    font-size: 24px;
    margin: 0;
}


.profContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin: 0 1.6rem 0 1.6rem; 
}
.profContent .l{
    margin-left: 25px;
    width: 20%;
}
.profContent .l h5, .profContent .l p{
    margin: 5px;
}
.profContent .r{
    margin: 5px;
}
.profContent .r .position{
    font-size: 23px;
    margin: 0;
}